# Business Understanding

Credit risk assessment is one of the most critical tasks in the banking and financial industry. Lenders must evaluate the likelihood that a borrower will repay or default on a loan before issuing credit. Poor risk assessment can lead to increased default rates, reduced profitability, and long-term financial instability for lending institutions.

This project uses a synthetic but realistic dataset of 45,000 loan applicants containing demographic, financial, and credit history attributes. The goal is to explore and analyze how factors such as **income, employment experience, credit score,** and **loan characteristics** influence the probability of loan repayment or default.

### Problem Statement

Financial institutions face continuous challenges in balancing loan approvals with risk management. Approving too many risky loans increases default losses, while being overly strict limits profit opportunities.
This project aims to analyze applicant data to identify the characteristics of **high-risk borrowers** and the key variables that influence **loan repayment outcomes.**

### Project Objectives

**1.** Understand the demographic and financial profiles of loan applicants.

**2.** Analyze relationships between applicant attributes (income, credit score, education) and loan repayment outcomes.

**3.** Quantify how loan characteristics such as interest rate and purpose impact default risk.

**4.** Segment borrowers into low-risk and high-risk categories based on SQL-based insights.

**5.** Generate actionable insights to support data-driven lending and credit approval policies.

### Key Business Questions

**>** What percentage of applicants defaulted versus successfully repaid their loans?

**>** How does credit score affect default likelihood?

**>** Is there a connection between income levels and repayment performance?

**>** Do borrowers with previous loan defaults have a higher probability of defaulting again?

**>** Which loan purposes (e.g., personal, education, medical) carry the highest credit risk?

**>** How do employment experience and home ownership relate to loan repayment outcomes?

### Expected Outcomes

**~** SQL queries and analytical summaries identifying patterns in credit risk behavior.

**~** Key metrics (default rate, average credit score, average income) across loan and demographic segments.

**~** Identification of high-risk borrower profiles for targeted credit policy decisions.

**~** Actionable recommendations to reduce defaults and improve loan approval accuracy.

### Business Value

This project provides data-driven insights to help banks and financial institutions:

**1.** Improve loan approval strategies by understanding applicant risk factors.

**2.** Develop better **credit scoring models** using real-world variables.

**3.** Reduce overall **default rates** and enhance profitability.

**4.** Strengthen **risk management and compliance frameworks** with analytical evidence.

## **Data Understanding**

### **Overview**
The dataset contains **45,000 loan applicant records** and **14 columns**, covering demographic information, financial attributes, credit history, and loan performance.  
It is well-structured, clean, and suitable for **SQL-based credit risk analysis**.  
Each record represents a unique loan applicant, and the target variable, **`loan_status`**, indicates whether the applicant successfully repaid the loan (`1`) or defaulted (`0`).

---

### **Dataset Structure**

| Column | Description | Type | Example |
|---------|-------------|------|----------|
| `person_age` | Age of the applicant (in years) | float | 27.8 |
| `person_gender` | Gender of the applicant | object | male |
| `person_education` | Highest level of education attained | object | Bachelor |
| `person_income` | Annual income of the applicant (USD) | float | 80319.00 |
| `person_emp_exp` | Years of employment experience | float | 5.4 |
| `person_home_ownership` | Type of home ownership | object | RENT / OWN / MORTGAGE |
| `loan_amnt` | Loan amount requested (USD) | float | 9583.16 |
| `loan_intent` | Purpose of the loan | object | EDUCATION / MEDICAL / PERSONAL |
| `loan_int_rate` | Interest rate (%) | float | 11.00 |
| `loan_percent_income` | Ratio of loan amount to income | float | 0.14 |
| `cb_person_cred_hist_length` | Length of applicant’s credit history (years) | float | 5.8 |
| `credit_score` | Credit score (range: 390–850) | float | 632 |
| `previous_loan_defaults_on_file` | Previous loan default history (Yes/No) | object | No |
| `loan_status` | Loan repayment status (1 = repaid, 0 = defaulted) | int | 1 |

---

### **Initial Observations**
- Dataset is complete: **no missing values** in any column.  
- **Data types** are appropriate (numerical for calculations, categorical for grouping).  
- The **mean credit score** is approximately **633**, indicating an average borrower credit profile.  
- **Mean income** is about **$80,000**, with an average loan amount of roughly **$9,500**.  
- **Default rate** is around **22%**, showing a realistic loan performance distribution.  
- **Top loan purpose:** EDUCATION.  
- **Most common home ownership type:** RENT.  
- Some outliers exist — for instance, age values up to **144 years**, which may need cleaning before modeling.

---

### **Target Variable**

| Value | Meaning | Description |
|--------|----------|--------------|
| `1` | Good Credit Risk | Loan repaid successfully |
| `0` | Bad Credit Risk | Loan defaulted |

---

### **Insights from Summary Statistics**

| Feature | Observation |
|----------|--------------|
| **person_age** | Average applicant age is **27.8 years**, skewed toward younger borrowers. |
| **person_income** | Wide income range (8,000 – 720,000 USD). Outliers suggest inclusion of both low- and high-income groups. |
| **credit_score** | Ranges between **390 and 850**; median ≈ 640, consistent with typical credit scoring. |
| **loan_int_rate** | Average interest rate ≈ **11%**, suggesting moderately risky loans. |
| **loan_percent_income** | Average ratio ≈ **0.14**, indicating most borrowers request about 14% of their annual income. |
| **previous_loan_defaults_on_file** | Roughly half of the applicants had prior defaults (“Yes”), a key variable for credit risk. |

---

In [1]:
import pandas as pd
data = pd.read_csv('loan_data.csv')
# View the first five rows
data.head()

# Show the column names
print(data.columns.tolist())

# Get a quick summary
data.info()

# See basic statistics
data.describe(include='all')

['person_age', 'person_gender', 'person_education', 'person_income', 'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score', 'previous_loan_defaults_on_file', 'loan_status']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
count,45000.000000,45000,45000,4.500000e+04,45000.000000,45000,45000.000000,45000,45000.000000,45000.000000,45000.000000,45000.000000,45000,45000.000000
unique,NaN,2,5,NaN,NaN,4,NaN,6,NaN,NaN,NaN,NaN,2,NaN
top,NaN,male,Bachelor,NaN,NaN,RENT,NaN,EDUCATION,NaN,NaN,NaN,NaN,Yes,NaN
freq,NaN,24841,13399,NaN,NaN,23443,NaN,9153,NaN,NaN,NaN,NaN,22858,NaN
mean,27.764178,NaN,NaN,8.031905e+04,5.410333,NaN,9583.157556,NaN,11.006606,0.139725,5.867489,632.608756,NaN,0.222222
std,6.045108,NaN,NaN,8.042250e+04,6.063532,NaN,6314.886691,NaN,2.978808,0.087212,3.879702,50.435865,NaN,0.415744
min,20.000000,NaN,NaN,8.000000e+03,0.000000,NaN,500.000000,NaN,5.420000,0.000000,2.000000,390.000000,NaN,0.000000
25%,24.000000,NaN,NaN,4.720400e+04,1.000000,NaN,5000.000000,NaN,8.590000,0.070000,3.000000,601.000000,NaN,0.000000
50%,26.000000,NaN,NaN,6.704800e+04,4.000000,NaN,8000.000000,NaN,11.010000,0.120000,4.000000,640.000000,NaN,0.000000
75%,30.000000,NaN,NaN,9.578925e+04,8.000000,NaN,12237.250000,NaN,12.990000,0.190000,8.000000,670.000000,NaN,0.000000
max,144.000000,NaN,NaN,7.200766e+06,125.000000,NaN,35000.000000,NaN,20.000000,0.660000,30.000000,850.000000,NaN,1.000000